
        name: Continuous Integration
        on:
        pull_request:
            branches:
            - 20230713093435/test_log_downloading/main

        jobs:
        unit-tests:
            timeout-minutes: 5
            runs-on: ubuntu-20.04
            steps:
            - uses: actions/checkout@v2
            - run: "echo toto"
        